<div class="workouts-form-container">
  <h1 class="page-title mt-2">記録を編集</h1>
  <h2 class="page-title mt-2"><%= @exercise.name %></h2>

  <%= render 'partial/workout_nav' %>
  <%= render 'partial/workout_form', workout: @workout %>
</div>
