<div class="workouts-form-container">
  <h1 class="page-title mt-2">記録を作成</h1>
  <h2 class="page-title mt-2"><%= @exercise.name %></h2>

  <%= link_to '戻る', workouts_path(id: @exercise.id), class: 'btn btn-outline-secondary' %>
  <%= render 'partial/workout_form', workout: @workout %>
</div>
