<div class="col-6 mx-auto">
  <div class="mt-3">
    <h1>トレーニングメニュー作成</h1>

    <div>
      <%= link_to '< 戻る', :back, class: 'btn btn-link' %>
      <%= link_to '一覧 >', menus_path, class: 'btn btn-link' %>
    </div>

    <%= render 'partial/menu_form', menu: @menu %>
  </div>
</div>
