<div class="main-container">
  <h1 class="page-title mb-4">トレーニングメニュー詳細</h1>
  <%= link_to '戻る', :back, class: 'btn btn-outline-secondary mb-4' %>

  <div class="menu-content">
    <table class="table table-hover">
      <tr>
        <th>メニュー名</th>
        <td><%= @menu.name %></td>
      </tr>
      <tr>
        <th>インターバル</th>
        <td><%= @menu.interval_i18n %></td>
      </tr>
      <% @menu.exercises.each do |exercise| %>
        <tr>
          <th>種目名</th>
          <td><%= link_to exercise.name, workouts_path(id: exercise) %></td>
        </tr>
      <% end %>
    </table><!-- /.table table-hover -->
  </div>
</div>
