<div class="main-container">
  <h1 class="page-title mb-3">コメントしたユーザー</h1>
  <%= link_to '戻る', :back , class: 'btn btn-outline-secondary mb-4'%>

  <% @comment_users.each do |comment_user| %>
    <div class="profile-content">
      <div class="profile-header">
        <!-- ユーザー情報 -->
        <%= render 'partial/user_name_and_icon', user: comment_user %>
        <%= render 'partial/follow_form', user: comment_user unless comment_user == current_user %>
      </div><!-- /.profile-header -->
    </div><!-- /.profile-content -->
  <% end %>
</div><!-- /.main-container -->
