<div class="post-container">
  <div class="page-title">
    <h1>いいねしたアカウント</h1>
  </div><!-- /.page-title -->

  <ul>
    <% @like_users.each do |like_user| %>
      <div class="main-content">
        <div class="content-header">
          <p><%= image_tag 'default.png', alt: like_user.name, class: 'cover50' %></p>
          <div class="post-names">
            <p class="post-user"><%= like_user.name %></p>
          </div><!-- /.post-names -->
        </div><!-- /.content-header -->
      </div><!-- /.main-content -->
    <% end %>
  </ul>
</div><!-- /.like-container -->
