<div class="container">
  <h1>ユーザー検索</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>ユーザーネーム</th>
        <th>メールアドレス</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <% unless current_user.id == user.id %>
          <tr>
            <td><%= link_to user.name, user_path(user) %></td>
            <td><%= user.email %></td>
            <td><%= render 'partial/follow_form', user: user %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
