<nav>
  <ul class="exercise-chart-nav mt-4">
    <% @workouts.each do |workout| %>
      <li><%= link_to workout.exercise.name, charts_path({ id: workout.exercise_id, range: 'all', user_id: user_id }), class: 'text-white' %></li>
    <% end %>
  </ul>
</nav>
