<footer class="footer">
  <div class="container">
    <nav class="text-muted clearfix">
      <ul>
        <li class="footer_nav">My fitness</li>
        <li class="fooger_nav"><%= link_to content_tag(:i, '', class: 'fas fa-weight'), body_statuses_path(@body_statuses) %></li>
      </ul>
    </nav>
  </div>
</footer>
