<footer class="footer">
  <div class="container">
    <nav class="text-muted">
      <ul class="footer-menu">
          <li><%= link_to content_tag(:i, '', class: 'fas fa-weight fa-2x footer-icon'), body_statuses_path %></li>
          <li><%= link_to content_tag(:i, '', class: 'fas fa-chart-line fa-2x ml-4 footer-icon'), charts_path({id: 0, range: 'all'}) %></li>
          <li><%= link_to content_tag(:i, '', class: 'far fa-file fa-2x ml-4 footer-icon'), workout_logs_path(id: current_user) %></li>
          <li><%= link_to content_tag(:i, '', class: 'far fa-calendar-alt fa-2x ml-4 footer-icon'), calendar_path(current_user.id) %></li>
        </ul>
      </ul>
    </nav>
  </div>
</footer>
