<div class="chart-container">
  <div class="mr-4">
    <h2>部位別</h2>
    <%= pie_chart @exercise_part_count, width: '250px', height: '250px', legend: 'bottom', donut: true %>
  </div>
  <div>
    <h2>種目別</h2>
    <%= pie_chart @exercise_name_count, width: '500px', height: '250px', legend: 'bottom', donut: true %>
  </div>
</div><!-- /.chart-container -->
