<nav>
  <ul class="content-nav">
    <li><%= link_to '戻る', workouts_path(id: @exercise.id), class: 'btn btn-outline-secondary' %></li>
    <li><%= link_to 'メニュー', menus_path, class: 'btn btn-outline-secondary' %></li>
  </ul>
</nav>
