<div class="container mt-4">
  <h1 class="page-title mb-4">グラフ</h1>
  <h2 class="page-title"><%= select_range_title(@range_title) %></h2>

  <div class="mt-3">
    <h2>体重</h2>
    <%= line_chart @body_weight_records %>
  </div>

  <div class="mt-3">
    <h2>体脂肪</h2>
    <%= line_chart @body_fat_records, colors: ['#b00'] %>
  </div>

  <%= render 'partial/chart_nav' %>
</div><!-- /.container -->
