<div class="post-container mt-3">
  <h1 class="page-title mb-3">投稿一覧</h1>
  <% if @posts.empty? %>
    <p class="mb-2">投稿はありません</p>
    <%= link_to '新規作成', new_post_path, class: 'btn btn-primary text-white' %>
  <% else %>
    <div class="nav-menu">
      <%= link_to '戻る', :back, class: 'btn btn-outline-secondary' %>
      <%= link_to '新規作成', new_post_path, class: 'btn btn-primary text-white' %>
    </div><!-- /.nav-menu -->

    <% @posts.each do |post| %>
      <%= render 'partial/post_content', post: post %>
    <% end %>
  <% end %>
</div><!-- /.container -->
