<div class="post-container mt-3">
  <h1 class="page-title mb-3">投稿詳細</h1>
  <div class="nav-menu">
    <%= link_to '戻る', :back, class: 'btn btn-outline-secondary' %>
    <%= link_to '新規作成', new_post_path, class: 'btn btn-primary text-white' %>
  </div><!-- /.nav-menu -->

  <%= render 'partial/post_content', post: @post %>

  <div class="like-count">
    <%= link_to "#{@post.like_users.count}件のいいね", likes_path(id: @post.id) %>
  </div><!-- /.like-count -->
</div><!-- /.post-container -->
