.chart-nav-container {
  width: 100%;
}

.chart-nav {
  display: flex;
  justify-content: center;

  li {
    margin-left: 20px;
  }
}

.chart-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.chart-nav-container {
  width: 100%;
}

.chart-nav {
  display: flex;
  justify-content: center;

  li {
    margin-left: 20px;
  }
}

.exercise-chart-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    padding: 5px;
    margin: 5px 10px;
    background-color: #28a746;
    border-radius: 15px;
    font-size: 13px;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    opacity: .7;
  }
}
