body {
  margin: 0;
  font-family: 'YuGothic', 'Yu Gothic', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
    'メイリオ', 'Meiryo', 'ＭＳ ゴシック', sans-serif;
}

* {
  box-sizing: border-box;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #333;
}

table {
  border-collapse: collapse;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  outline: none;
}

#error_explanation {
  color: red;
  margin-top: 20px;
}

// 画像のリサイズ -------------------
.cover40 {
  object-fit: cover;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.cover50 {
  object-fit: cover;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.cover100 {
  object-fit: cover;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

// Font Awesomeアイコンのサイズ変更
.fa-1_5x {
  font-size: 1.5em;
}

.fa-1_8x {
  font-size: 1.8em;
}

// header
.header {
  color: #fff;
}

// button
.submitBtn {
  background: #29b744;
  color: #fff;
  width: 200px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 90px;
  transition: opacity .5s;
  cursor: pointer;

  &:hover {
    opacity: .6;
  }
}

// sign_up
.sinupPage {
  margin-top: 10vh;

  .titleArea {
    text-align: center;

    h1 {
      font-size: 2rem;
    }
  }

  .signupForm {
    .form-group {
      margin: 0 auto 1.5rem auto;
      max-width: 500px;

      .form-control {
        background: #f6f8fa;
      }
    }
  }

  .submitBtn {
    background: #29b744;
    color: #fff;
    width: 200px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 90px;
    transition: opacity .5s;

    &:hover {
      opacity: .6;
    }
  }
}

// devise_shared_links
.acountPage_link {
  &>a {
    color: #0075c1;
  }
}

// sign_in
.signinPage {
  margin-top: 10vh;

  .title {
    margin: 0;
    text-align: center;
  }

  .new_user {
    .form-group {
      max-width: 500px;
      margin: 0 auto 1rem;

      .form-control {
        background: #f6f8fa;
      }
    }
  }

  .loginBtn {
    padding: 12px;
    width: 200px;
    border-radius: 21px;
    background: #29b744;
    color: #fff;
    text-align: center;
    border: none;
    margin-top: 20px;
    opacity: 1;
    transition: opacity .5s;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
  }
}

.main-container {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

.one-submit {
  display: flex;
  justify-content: flex-end;
}

.two-submit {
  display: flex;
  justify-content: space-between;
}

.table-style {
  table-layout: fixed;
}

.content-nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
