.login-container {
  width: 700px;
  margin: 0 auto;
}

.login-content {
  display: flex;
}

.picture-area {
  width: 300px;
  height: auto;
  margin-right: 30px;
}

.top-image {
  width: 300px;
  height: auto;
}

.input-form {
  width: 350px;
}

