.menu {
  &-container {
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
  }

  &-wrapper {
    width: 600px;
  }

  &-content {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px #c1ced7;

    &-header {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;

      &-name {
        font-size: 26px;
        font-weight: bold;
        margin: 0;
      }

      &-action {
        .fa-pen, .fa-trash, .fa-plus {
          font-size: 18px;
          color: #1f1f1f;
        }
        .fa-trash {
          margin-left: 10px;
        }
        .fa-plus {
          margin-right: 10px;
        }
      }
    }

    &-index-item {
      padding: 10px;
      padding-left: 30px;
      border-bottom: 1px solid #e3e3e3;

      &-name {
        font-size: 18px;
      }
    }
  }

  &-new-footer {
    display: flex;
    justify-content: space-between;
  }
}
