.post-container {
  width: 500px;
  margin: 0 auto;

  .page-title {
    text-align: center;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .main-content {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 30px;
    margin-top: 20px;

    .time-area {
      margin-bottom: 10px;
    }

    .content-header {
      display: flex;
      align-items: stretch;

      .post-names {
        margin-left: 15px;
        flex-basis: 65%;

        .post-user {
          font-size: 18px;
          font-weight: bold;
        }

        .post-time {
          font-size: 12px;
        }
      }
    }

    .content-body {
      margin-top: 10px;
      border: none;

      .post-content {
        white-space: pre-wrap;
      }
    }

    .content-footer {
      margin-top: 10px;

      .favorite-icon {
        color: red;
      }

      .comment {
        margin-left: 10px;
      }
    }
  }
}
