.post-container {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

.page-title {
  text-align: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post-main-content {
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.post-picture-content {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.user-container {
  padding: 15px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.user-container:first-child {
  margin-top: 20px;
}

.time-area {
  padding: 15px 15px 0;
}

.content-header {
  padding: 15px;
  display: flex;
  align-items: stretch;
}

.post-names {
  margin-left: 15px;
  flex-basis: 63%;
}

.post-user {
  font-size: 18px;
  font-weight: bold;
}

.post-time {
  font-size: 12px;
  color: #6f6f6f
}

.content-body {
  padding: 0 15px 15px;
  border: none;
}

.post-content {
  white-space: pre-wrap;
}

.content-footer {
  padding: 15px;
}

.post-icons {
  display: flex;
}

.post-icon:hover {
  opacity: 0.8;
}

.post-item {
  flex-basis: 120px;
}

.favorite-icon {
  color: red;
}

.comment {
  margin-left: 10px;
}

.post-comment {
  padding: 15px;
  border: 1px solid #ebebeb;
  background: #fff;
  border-radius: 3px;
}
.comment-content {
  margin-left: 65px;
  white-space: pre-wrap;
}

.post-picture {
  object-fit: cover;
  width: 100%;
  height: auto;
  background-color: #fff;
}

.post-picture-form {
  object-fit: cover;
  width: 300px;
  height: auto;
  background-color: #fff;
}
