.user-content {
  border: 1px solid #ebebeb;
}

.header-image-area {
  width: 500px;
  height: 250px;
  background-color: lightgray;
}

.header-image {
  object-fit: cover;
  width: 100%;
  height: 250px;
  background-color: #fff;
}

.user-profile-container {
  padding: 20px;
  background-color: #fff;
}

.user-profile {
  padding-top: 10px;
  display: flex;
}

.user-info {
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.user-item {
  padding-right: 20px;
}

.user-item:first-child {
  margin-right: 100px;
}

.user-footer {
  padding: 20px 30px 0 30px;
  display: flex;
  justify-content: space-between;
}

.user-message {
  height: auto;
  padding: 20px;
  border-top: 1px solid #ebebeb;
  white-space: pre-wrap;
  background-color: #fff
}

.follow-icon {
  background-color: #fff;
}

.follow-btn {
  width: 220px;
}

.profile-content {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.profile-header {
  display: flex;
  align-items: center;
}

.profile-name {
  width: 290px;
}

.self-introduction {
  margin-left: 50px;
}

.profile-header-image {
  width: 100%;
  height: auto;
}

.profile-nav {
  display: flex;
  justify-content: space-between;
}

.user-name {
  width: 210px;
  font-size: 24px;
  font-weight: bold;
}

.follow-area {
  width: 230px;
}

.workout_log {
  margin-left: 27px;
  margin-top: 10px;
}

.training_calendar {
  margin-left: 28px;
  margin-top: 10px;
}

.search-field {
  width: 50%;
}

.profile-content-top {
  background-color: #fff;
  border: 1px solid #CED4DA;
}
