.workouts-container {
  width: 700px;
  margin: 0 auto;
  margin-top: 20px;
}

.workouts-nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.workout-condition {
  border: 1px solid #ebebeb;
  padding: 15px;
}

.workout-memo {
  border: 1px solid #ebebeb;
  height: 10rem;
  padding: 15px;
  white-space: pre-wrap;
}

.workout-table {
  border: 1px solid #ebebeb;
}

.workout-footer {
  display: flex;
  justify-content: space-between;
}
