.workouts-container {
  width: 700px;
  margin: 0 auto;
  margin-top: 20px;
}

.workouts-nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.workout-condition {
  border: 1px solid #ebebeb;
  padding: 15px;
}

.workout-memo {
  border: 1px solid #ebebeb;
  height: 10rem;
  padding: 15px;
  white-space: pre-wrap;
}

.workout-table {
  border: 1px solid #ebebeb;
}

.workout-footer {
  display: flex;
  justify-content: space-between;
}

.exercise {
  &-set {
    display: inline-block;
    width: 85px;
  }

  &-input {
    width: 80px;
    margin: 10px 50px 10px 30px;
    background-color: #eee;
  }

  &-logs {
    &-header {
      display: flex;
      margin-bottom: 10px;
    }

    &-set {
      margin-left: 5px;
      margin-right: 85px;
      font-weight: bold;
    }

    &-weight {
      margin-right: 75px;
      font-weight: bold;
    }

    &-rep {
      margin-right: 80px;
      font-weight: bold;
    }
  }
}
