<div class="exercise-container">
  <h1 class="page-title">トレーニング種目一覧</h1>
  <%= render 'partial/exercise/exercise_navbar' %>
  <%= render 'partial/exercise_search_form', search_params: @search_params %>

  <div class="tab-wrap">
    <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">プリセット</label>
    <div class="tab-content">
      <%= render 'partial/exercise/exercise_content', exercises: @exercises_preset %>
    </div>

    <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-02">オリジナル</label>
    <div class="tab-content">
      <%= render 'partial/exercise/exercise_content', exercises: @exercises_original %>
    </div>
  </div><!-- /.tab-wap -->
</div><!-- /.exercise-container -->
